# IDEs/Editors
.idea
.vscode
*.sw?
*~

# Python-specific
__pycache__
.pytest_cache
.mypy_cache
.coverage
coverage.xml
.ruff_cache
.ipynb_checkpoints

# Virtual Environments
env
env3.*
venv
.venv

# Build Artifacts
dist
site
site_build
docs_build
docs.zip
archive.zip

# Documentation
.netlify

# Databases
test.db

# Logs
log.txt

# Dependency Lock Files
Pipfile.lock

# macOS-specific
.DS_Store

# Repository Assets
*.wav

# Miscellaneous
.cache